<div class="footer-info-group bg-white">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-sm-12 col-lg-12">
                <a class="footer-logo d-block">
                    <img id="Logo_footer" class="card-img-top"/>
                </a>
                <p class="footer-address-item">
                    <i class="fa-solid fa-location-dot" style="color: #1f513a;"></i>
                    <a id="address_footer"></a>
                </p>
                <p class="footer-address-item">
                    <a>
                        <i class="fa-solid fa-phone" style="color: #053820;"></i>
                        <a id="PhoneFooter"></a>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>