<div class="footer-info-group bg-white">
    <div class="container">
        <div class="row">
            <div class="col">
                <a class="footer-logo d-block">
                    <img id="Logo_footer" class="card-img-top" />
                </a>
                <p class="footer-address-item">
                    <i class="fa-solid fa-location-dot" style="color: #1f513a;"></i>
                    <a id="address_footer"></a>
                </p>
                <p class="footer-address-item">
                    <a>
                        <i class="fa-solid fa-phone" style="color: #053820;"></i>
                        <a id="PhoneFooter"></a>
                    </a>
                </p>
                <p class="footer-address-item">
                    <a>
                        <i class="fa-regular fa-envelope" style="color: #053820;"></i>
                        <a id="MailFooter"></a>
                    </a>
                </p>
            </div>

            <div class="col footer-infor-item">
                <p class="box-title">Hỗ trợ Khách Hàng</p>
                <p class="footer-address-item">
                    Hướng dẫn mua hàng
                </p>
                <p class="footer-address-item">
                    Hướng dẫn thanh toán
                </p>
                <p class="footer-address-item">
                    Gửi yêu cầu bảo hành
                </p>
            </div>

            <div class="col footer-infor-item">
                <p class="box-title">Chính sách chung</p>
                <p class="footer-address-item">
                    Chính sách, quy định chung
                </p>
                <p class="footer-address-item">
                    Chính sách vận chuyển
                </p>
                <p class="footer-address-item">
                    Chính sách bảo hành
                </p>
                <p class="footer-address-item">
                    Chính sách đổi trả
                </p>
                <p class="footer-address-item">
                    Chính sách bảo hành
                </p>
                <p class="footer-address-item">
                    Chính sách đổi trả hoàn tiền
                </p>
                <p class="footer-address-item">
                    Chính sách đổi trả hoàn tiền
                </p>
                <p class="footer-address-item">
                    Bảo mật thông tin khách hàng
                </p>
            </div>


        </div>
    </div>
</div>