
<header>
    <div class="width_100 user">
        @if (User.Identity.IsAuthenticated)
        {
            <a href="/Home/ProFile" class="text-dark float-end bg-danger">Xin chào @User.Identity.Name</a>

            <form method="post" action="/Account/Logout">
                <button type="submit" class="nav-link text-black font-weight-bold px-0 border-0 px-3">
                    <i class="fa fa-user me-sm-1"></i>
                    <span class="d-sm-inline d-none">Đăng xuất</span>
                </button>
            </form>
        }
        else
        {
            <a href="/Account/Login" class="text-dark float-end px-3 btn btn-warning">Đăng nhập</a>
        }
    </div>

    <div class="container nav-header">
        <div class="text-13 d-flex flex-wrap nav-1">

            <div class="col-2 col-md-2 col-lg-2 nav-ch-1">
                <a href="javascript:void(0)">
                    <img id="Logo_src" width="1" height="1" class="d-block m-auto h-auto"
                         style="width: 150px;">
                </a>
            </div>

            <div class="col-9 col-md-9 col-lg-9 nav-ch-2">

                <div class="d-flex nav-ch1-1">

                    <div class="d-flex nav-ch2-1" style="padding: 2em 1.1em 0 0;">

                        <div class="category p-2">
                            <p class="btn btn-success">
                                <i class="fa-solid fa-list"></i>
                                Danh mục
                            </p>
                        </div>

                        <div class="serachHeader p-2">
                            <form action="#" name="search" class="search-input-group bg-white position-relative">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary" type="button">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Bạn cần tìm gì?"
                                           aria-label="" aria-describedby="basic-addon1">
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="d-flex align-items-center nav-ch2-2">
                        <div class="d-flex"
                             style="border-right: 1px solid rgba(41,160,126,0.3); padding: 2px 15px 2px 0;">
                            <div class="d-flex align-items-center" style="font-size: 2em;padding: 0px 20px;">
                                <i class="fa-solid fa-phone-volume" style="color: #1f513a;"></i>
                            </div>
                            <div class="d-flex flex-column">
                                <a id="tel_href">
                                    <span>Hotline</span>
                                </a>
                                <b id="tel_number" class="text-success">0123456798</b>
                            </div>
                        </div>
                    </div>


                    <div class="d-flex align-items-center nav-ch2-3">
                        <div class="d-flex" style=" padding: 2px 15px 2px 0;">
                            <div class="d-flex align-items-center" style="font-size: 2em;padding: 0px 20px;">
                                <i class="fa-solid fa-bolt" style="color: #1f513a;"></i>

                            </div>
                            <div class="d-flex flex-column">
                                <a id="Fb_href">
                                    <span class="text-success">Tư vấn trực tiếp</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex nav-ch2-4">

                        <div class="d-flex border border-success form-control" style="padding: 0px 15px 2px 0;">
                            <div class="d-flex align-items-center" style="font-size: 1.1em;padding: 0px 8px;">
                                <i class="fa-solid fa-cart-shopping" style="color: #1f513a;"></i>
                            </div>
                            <div class="d-flex align-items-center">
                                <a href="#">
                                    <span class="text-success">Giỏ hàng</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>