    <div class="width_100 bg-gradient-danger">
    <a href="/Home/ProFile" class="text-success float-end px-3">Xin chào </a>
</div>
<header class="bg-light1 mb-4">
    <div class="container p-4">
        <div class="global-header-middle-group text-13 d-flex flex-wrap align-items-center">

            <div class="col-3 col-md-3 col-lg-3">
                <a href="javascript:void(0)">
                    <img id="Logo_src" width="1" height="1" class="d-block m-auto h-auto"
                         style="width: 150px;">
                </a>
            </div>
            <div class="col-9 col-md-9 col-lg-9">
                <div class="d-flex ">
                    <div class="d-flex" style="padding: 2em 0 0 0;">
                        <div class="category p-2">
                            <p class="btn btn-success">
                                <i class="fa-solid fa-list"></i>
                                Danh mục
                            </p>
                        </div>
                        <div class="serachHeader p-2">
                            <form action="#" name="search" class="search-input-group bg-white position-relative">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary" type="button">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Bạn cần tìm gì?"
                                           aria-label="" aria-describedby="basic-addon1">
                                </div>
                            </form>

                        </div>
                    </div>

                    <div class="d-flex align-items-center">
                        <div class="d-flex"
                             style="border-right: 1px solid rgba(41,160,126,0.3); padding: 2px 15px 2px 0;">
                            <div class="d-flex align-items-center" style="font-size: 2em;padding: 0px 20px;">
                                <i class="fa-solid fa-phone-volume" style="color: #1f513a;"></i>

                            </div>
                            <div class="d-flex flex-column">
                                <a id="tel_href">
                                    <span>Hotline</span>
                                </a>
                                <b id="tel_number" class="text-success">0123456798</b>

                            </div>

                        </div>

                    </div>
                    <div class="d-flex align-items-center">
                        <div class="d-flex" style=" padding: 2px 15px 2px 0;">
                            <div class="d-flex align-items-center" style="font-size: 2em;padding: 0px 20px;">
                                <i class="fa-solid fa-bolt" style="color: #1f513a;"></i>

                            </div>
                            <div class="d-flex flex-column">
                                <a id="Fb_href">
                                    <span class="text-success">Tư vấn trực tiếp</span>
                                </a>                              
                            </div>
                        </div>

                    </div>
                    <div class="d-flex">
                        <div class="d-flex  border border-success form-control" style="padding: 0px 15px 2px 0;">
                            <div class="d-flex align-items-center" style="font-size: 2em;padding: 0px 20px;">
                                <i class="fa-solid fa-cart-shopping" style="color: #1f513a;"></i>

                            </div>
                            <div class="d-flex align-items-center">
                                <a href="#">
                                    <span class="text-success">Giỏ hàng</span>
                                </a>


                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</header>