@model WebApp.Models.ViewModel.CategoryViewModel;

<form>
    <input hidden asp-for="Id" />
    <input hidden asp-for="CreatedBy" />
    <input hidden asp-for="CreatedDate" />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Icon" class="control-label"></label>
        <input asp-for="Icon" class="form-control" />
        <span asp-validation-for="Icon" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="form-group row">
            <label asp-for="ParentId" class="col-sm-4 col-form-label"></label>
            <div class="col-sm-8">
                <select asp-for="ParentId" asp-items="@ViewBag.ParentCate" class="form-control">
                    <option value="0" selected>--- Không  ---</option>
                </select>
                <span asp-validation-for="ParentId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-12 d-inline-flex justify-content-end">
        <button type="button" id="close" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" onclick="Save()">Lưu thay đổi</button>
    </div>
</form>
