@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="AppVueCategory" class="row mt-5">
    <div class="col-12">
        <div class="col-xl-2 col-lg-12"><div v-on:click="AddCategory()" class="btn btn-success">Thêm loại sản phẩm</div></div>
    </div>
</div>