html {
    font-size: 12px;
}

.offcanvas-backdrop.show {
    opacity: 0;
}

.loading {
    position: relative;
    overflow: hidden;
    pointer-events: none;
}

.loading .loading__overlay {
    content: '';
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: wait;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
}

.loading .loading__icon {
    content: '';
    width: 5%;
    height: 5%;
    min-width: 50px;
    min-height: 50px;
    background-image: url('/upload/icon/loading-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
}

.navbar-vertical.navbar-expand-xs .navbar-collapse {
    overflow: unset !important;
}

.text_width {
    width: 200px;
    overflow: auto
}

.container_img {
    width: 200px;
    overflow: auto
}
.Slug_and_Name_width{
    width: 150px;
    overflow: scroll;
}
.width_code {
    width: 15px !important;
    text-align: center;
}