* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #333;
  text-decoration: none;
}

body {
  color: #333;
  font-family: "Mulish", sans-serif;
  background: #f5f5f5;
  position: relative;
  font-size: 14px;
  min-width: 1212px;
  word-break: break-word;
  counter-reset: section;
}

.bg-light1 {
  background-color: #fff !important;
}

ul {
  list-style-type: none;
  padding: 0;
}

.bg-light1 ul li {
  padding: 2em 0em;
  display: flex;
  align-items: center;
  width: 10.8vw;
}

.bg-light1 ul li a {
  margin-left: 10px;
  font-size: 20px;
  text-decoration: none;
}

.bg-light1 li:hover {
  background: #29A07E;
}

#banner1-head {
  background-image: url("https://lacdau.com/static/assets/default/images/home-bg-collection.png");
}

#banner1-head ul {
  display: inline;
}

#banner1-head ul li {
  display: inline;
  padding: 0px 12px 0px 12px;
  border-right: 1px solid #fff;
}

#banner1-head ul li:last-child {
  border-right: none;
}

.width_100 {
  width: 100%;
}

.footer-info-group {
  padding: 14px 0;
}

.footer-info-group .footer-address-item {
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-info-group .footer-address-item p {
  margin-bottom: 1rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.footer-info-group .footer-address-item i {
  width: 25px;
  height: 20px;
}

.footer-logo {
  margin-bottom: 20px;
}
.footer-logo img {
  max-height: 85px;
  width: auto;
}
