$Banner_1_backgroud: "https://lacdau.com/static/assets/default/images/home-bg-collection.png";
$Banner_2_backgroud: linear-gradient(270deg,#FFC34E 2.54%,#FF8B49 86.96%);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* CSS cho thanh cuộn ngang */
::-webkit-scrollbar {
    width: 4px; /* Chiều rộng của thanh cuộn */
    height: 8px; /* Chiều cao của thanh cuộn */
    margin-top:20px; //đặt margin top
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Màu nền của vùng track */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Màu của thanh cuộn */
    border-radius: 8px; /* Đường viền cong của thanh cuộn */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Màu của thanh cuộn khi hover */
}

/* Hết CSS cho thanh cuộn ngang */


a {
    color: #333;
    text-decoration: none;
}

body {
    color: #333;
    font-family: 'Mulish',sans-serif;
    background: #f5f5f5;
    position: relative;
    font-size: 14px;
    min-width: 1212px;
    word-break: break-word;
    counter-reset: section;
}

.bg-light1 {
    background-color: #fff !important;
}
/*start css footer*/
.card-img-top {
    width: 85px;
    height: auto;
    margin: 4px 0 4px 0;
}

.box-title {
    font-weight: bold;
}
/* end css footer*/
ul {
    list-style-type: none;
    padding: 0;
}

.bg-light1 ul li {
    padding: 2em 0em;
    display: flex;
    align-items: center;
    width: 10.8vw;
}

.bg-light1 ul li a {
    margin-left: 10px;
    font-size: 20px;
    text-decoration: none;
}

.bg-light1 li:hover {
    background: #29A07E;
}

#banner1-head {
    //background-image: url($Banner_1_backgroud)
}

.width_100 {
    width: 100%;
}

[class^="#section"] {
    height: 640px;
    text-align: center;
}

.section1 {

    background: url($Banner_1_backgroud);
    border-radius: 20px;
    padding: 15px 12px 20px;

    .box_title_group {
        p {
            color: #fff;
            font-weight: 900;
            font-size: 28px;
            line-height: 35px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 16px;
        }
    }

    .scroll1-container {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;

        .scroll1 {
            display: flex;
            width: max-content;
            white-space: nowrap;

            .item_s_1 {
                margin: 0 10px;
                overflow: hidden;
                padding: 2px;
                flex-shrink: 0;
                vertical-align: top;

                .item1{
                    width: 220px !important;
                    background: #fff;
                    border-radius: 15px;
                    padding: 11px 11px 12px;

                    .item_img1 {
                        width: 200px;
                        height: 200PX;
                        display: flex;
                        justify-content: space-evenly;
                        overflow: hidden;

                        img {
                            margin: 0 1px;
                            width: 200px;
                            height: auto;

                            &:hover {
                                transition: 0.6s;
                                transform: scale(1.1)
                            }
                        }
                    }

                    div {
                        .code {
                            font-size: 12px;
                            line-height: 15px;
                            color: #777;
                            margin-bottom: 7px;
                        }

                        .satatus {
                            font-size: 12px;
                            line-height: 15px;
                            color: forestgreen;
                            margin-bottom: 7px;
                        }
                    }

                    .name {
                        text-align: justify;
                        text-indent: 10px;
                        text-overflow: clip;
                        font-weight: 700;
                        font-size: 13px;
                        line-height: 13px;
                        margin-bottom: 10px;
                        height: 40px;
                        -webkit-line-clamp: 3;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        max-height: 45px;
                        color: #000;
                    }

                    .price {
                        height: 42px;
                        position: relative;
                        justify-content: space-between;
                        display: flex;

                        .price_new {
                            color: #29A07E;
                            font-weight: 800;
                            font-size: 14px;
                            line-height: 23px;
                            display: block;
                        }

                        .icon {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}



.section2 {
    background: $Banner_2_backgroud;
    border-radius: 20px;
    padding: 15px 12px 12px;

    .box_title_group {
        p {
            color: #fff;
            font-weight: 900;
            font-size: 28px;
            line-height: 35px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 16px;
        }
    }

    .scroll2-container {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;

        .scroll2 {
            display: flex;
            width: max-content;
            white-space: nowrap;

            .item_s_2 {
                margin: 0 10px;
                overflow: hidden;
                padding: 2px;
                flex-shrink: 0;
                vertical-align: top;

                .item2 {
                    width: 310px !important;
                    background: #fff;
                    border-radius: 15px;
                    padding: 11px 11px 12px;

                    .item_img2 {
                        width: 290px;
                        height: 200PX;
                        display: flex;
                        justify-content: space-evenly;
                        overflow:hidden;

                        img {
                            margin: 0 1px;
                            width: 145px;
                            height: auto;

                            &:hover {
                                transition: 0.6s;
                                transform: scale(1.1)
                            }
                        }
                    }

                    div {                      
                        .code {
                            font-size: 12px;
                            line-height: 15px;
                            color: #777;
                            margin-bottom: 7px;
                        }

                        .satatus {
                            font-size: 12px;
                            line-height: 15px;
                            color: forestgreen;
                            margin-bottom: 7px;
                        }
                    }

                    .name {
                        text-align: justify;
                        text-indent: 10px;
                        text-overflow: clip;
                        font-weight: 700;
                        font-size: 13px;
                        line-height: 13px;
                        margin-bottom: 10px;
                        height: 40px;
                        -webkit-line-clamp: 3;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        max-height: 45px;
                        color: #000;
                    }

                    .price {
                        height: 42px;
                        position: relative;
                        justify-content: space-between;
                        display: flex;

                        .price_new {
                            color: #29A07E;
                            font-weight: 800;
                            font-size: 14px;
                            line-height: 23px;
                            display: block;
                        }

                        .icon {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}
