<section id="main-two">
    <div class="container" id="banner1-head">
        <div class="text-center text-light pt-4">
            <h3 style="font-weight: 600;">HÀNG SALE THANH LÝ ĐẶC BIỆT MỪNG 200.000 LIKE FANPAGE FACEBOOK</h3>

        </div>
        <div class="text-center text-light mb-4">
            <ul>
                <li>CHUỘT GAMING</li>
                <li>CHUỘT GAMING</li>
                <li>CHUỘT GAMING</li>
                <li>CHUỘT GAMING</li>
                <li>CHUỘT GAMING</li>
                <li>CHUỘT GAMING</li>
            </ul>
        </div>
        <div class="owl-carousel">
            <div class="item">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/img/anh1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make
                            up the
                            bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/img/anh1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make
                            up the
                            bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./assets/img/anh1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up
                        the
                        bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>
        <div class="text-center mt-4">
            <button class="btn btn-outline-light">Xem thêm</button>
        </div>
    </div>

</section>

<section id="main-three">
    <div class="container home-p-category-group" id="banner1-head">
        <div class="text-center text-light pt-4">
            <h3 style="font-weight: 600;">Xu hướng mua sắm</h3>

        </div>
        <div class="owl-carousel">
            <div class="item">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/img/anh1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make
                            up the
                            bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/img/anh1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make
                            up the
                            bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./assets/img/anh1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up
                        the
                        bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>
        <div class="text-center mt-4">
            <button class="btn btn-outline-light">Xem thêm</button>
        </div>
    </div>

</section>

<section id="main-foure">
    <div class="container" id="banner1-head">
        <div class="text-center text-light pt-4">
            <h3 style="font-weight: 600;">Lót chuột</h3>

        </div>
        <div class="owl-carousel">
            <div class="item">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/img/anh1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make
                            up the
                            bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/img/anh1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make
                            up the
                            bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./assets/img/anh1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up
                        the
                        bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>
        <div class="text-center mt-4">
            <button class="btn btn-outline-light">Xem thêm</button>
        </div>
    </div>
    </section>
