<div class="container-fluid mb-2" id="AppHomeVue">

    <section class="section1 width_100 mb-2">
        <div class="box_title_group">
            <p class="h3 text-center">Xu hướng mua sắm</p>
        </div>
        <div class="scroll1-container">
            <div class="scroll1">
                <div class="item_s_1" v-for="(item, index) in _HotTrend" :key="index">
                    <div class="item1">
                        <a :href="`/Home/DetailProduct?id=${item.id}`" class="item_img1">
                            <img :src="item.img1" />
                        </a>
                        <div class="d-flex justify-content-between alight-item-center mt-3">
                            <p class="code">{{item.productCode}}</p>
                            <p class="satatus">Còn hàng</p>
                        </div>
                        <a :href="`/Home/DetailProduct?id=${item.id}`" class="name">{{item.name}}</a>
                        <div class="price">
                            <span class="price_new">Giá: {{item.price}}</span>
                            <span class="icon" v-on:click="AddCart(item.id)">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section2 width_100 mb-2">
        <div class="box_title_group">
            <p class="h3 text-center">Xu hướng mua sắm</p>
        </div>
        <div class="scroll2-container">
            <div class="scroll2">
                <div class="item_s_2" v-for="(item, index) in _HotSale" :key="index">
                    <div class="item2">
                        <a :href="`/Home/DetailProduct?id=${item.id}`" class="item_img2">
                            <img :src="item.img1" />
                            <img :src="item.img2" />
                        </a>
                        <div class="d-flex justify-content-between alight-item-center mt-3">
                            <p class="code">{{item.productCode}}</p>
                            <p class="satatus">Còn hàng</p>
                        </div>
                        <a :href="`/Home/DetailProduct?id=${item.id}`" class="name">{{item.name}}</a>
                        <div class="price">
                            <span class="price_new">Giá: {{item.price}}</span>
                            <span class="icon" v-on:click="AddCart(item.id)">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section3 width_100 mb-2">
        <div class="box_title_group">
            <p class="h3 text-center">Lót chuột</p>
        </div>
        <div class="scroll3-container">
            <div class="scroll3">
                <div class="item_s_3" v-for="(item, index) in _HotTrend" :key="index">
                    <div class="item3">
                        <a :href="`/Home/DetailProduct?id=${item.id}`" class="item_img3">
                            <img src="https://lacdau.com/media/product/250-1193-8b6fc8a107fe41f4cc055a611c14888e.jpg" />
                        </a>
                        <div class="d-flex justify-content-between alight-item-center mt-3">
                            <p class="code">{{item.productCode}}</p>
                            <p class="satatus">Còn hàng</p>
                        </div>
                        <a :href="`/Home/DetailProduct?id=${item.id}`" class="name">{{item.name}}</a>
                        <div class="price">
                            <span class="price_new">Giá: {{item.price}}</span>
                            <span class="icon" v-on:click="AddCart(item.id)">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<script type="text/javascript">
    var AppHomeVue = new Vue({
        el: "#AppHomeVue",
        data: {
            HotSale: [],
            HotTrend: [],
            MousePads: [],
            Mouse: [],
        },
        mounted() {
            this.CallData();
        },
        computed: {
            _HotTrend() {
                return this.HotTrend;
            },
            _HotSale() {
                return this.HotSale;
            }
        },
        updated() {

        },
        methods: {
            CallData() {
                fetch("/Home/GetProductHotTrend")
                    .then(res => res.json())
                    .then(data => {
                        this.HotTrend = data.object;
                    });

                fetch("/Home/GetProductHotSale")
                    .then(res => res.json())
                    .then(data => {
                        this.HotSale = data.object;
                    });
            },
            initCarousel() {
                setTimeout(function () {
                    $(".owl-carousel").owlCarousel({
                        items: 4,
                        loop: true,
                        nav: false,
                        dots: true,
                        autoplay: true
                    });
                }, 100)
            },
            AddCart(id) {
               alert(id)
            }


        }
    })
</script>