<div class="container-fluid" id="AppHomeVue">
    <section class="section1 width_100">
        <p class="h3">Hàng thanh lý facebook</p>
        <div class="row">
            <div class="col">
                <div class="item">
                    <a href="#">
                        <img src="https://lacdau.com/media/product/250-1390-9fb336f74cfe798312d0f43c802758bc.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
    var AppHomeVue = new Vue({
        el: "#AppHomeVue",
        data: {
            HotSale: [],
            HotTrend: [],
            MousePads: [],
            Mouse: [],
        },
        mounted() {
            this.CallData();
        },
        computed: {
            _HotTrend() {
                return this.HotTrend;
            },
            _HotSale() {
                return this.HotSale;
            }
        },
        updated() {
            this.initCarousel();
        },
        methods: {
            CallData() {
                fetch("/Home/GetProductHotTrend")
                    .then(res => res.json())
                    .then(data => {
                        this.HotTrend = data.object;
                        this.checkRenderedCarousel();    
                    });

                fetch("/Home/GetProductHotSale")
                    .then(res => res.json())
                    .then(data => {
                        this.HotSale = data.object;
                        this.checkRenderedCarousel();
                    });


            },
            checkRenderedCarousel() {
                // Kiểm tra xem cả hai carousel đã được render hoàn tất chưa
                if (this.HotTrend.length > 0 && this.HotSale.length > 0) {
                    this.initCarousel();
                }
            },
            initCarousel() {
                setTimeout(function () {
                    $(".owl-carousel").owlCarousel({
                        items: 4,
                        loop: true,
                        nav: false,
                        dots: true,
                        autoplay: true

                    });
                }, 100)

            }

        }
    })
</script>