<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Admin Web</title>
    <!--Bootsrap và jquery-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--Data Table-->
    <link href="~/lib/dataTable/datatables.min.css" rel="stylesheet" />
    <script src="~/lib/dataTable/datatables.min.js"></script>

    <!--vuejs-->
    <script src="~/lib/vuejs/vue_2_7_14.js"></script>
    <!--axios-->
    <script src="~/lib/vuejs/axios.min.js"></script>
    <!--sweetalert2-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="stylesheet" href="~/lib/argon_dashboard_master/assets/css/nucleo-svg.css" />
    <link rel="stylesheet" href="~/lib/argon_dashboard_master/assets/css/nucleo-icons.css" />

    <link id="pagestyle" href="~/lib/argon_dashboard_master/assets/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
    <link href="~/lib/argon_dashboard_master/assets/img/apple-icon.png" />


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

    <!--Chart Js-->
    <script src="~/lib/chart.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--css và js tự code-->
    <link href="~/css/admin/style.min.css" rel="stylesheet" />
    <script src="~/js/admin/main.js"></script>

</head>
<body class="g-sidenav-show  bg-gray-100">
    <div id="preloader">
        <div id="preloader-inner"></div>
    </div>
    <div class="min-height-200 bg-primary position-absolute w-100"></div>

    @await Html.PartialAsync("_Sitebar")
    <main class="main-content position-relative border-radius-lg ">
        @await Html.PartialAsync("_Navbar")
        @RenderBody()
    </main>
    <partial name="~/Areas/Admin/Views/UIComponentsModel/_BigModal.cshtml" />
    <partial name="~/Areas/Admin/Views/UIComponentsModel/_SmallModel.cshtml" />

    <partial name="~/Areas/Admin/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <!-- Github buttons -->
    <script src="~/lib/github_buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
</body>
</html>
