<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Admin Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>


    <link rel="stylesheet" href="~/lib/argon_dashboard_master/assets/css/nucleo-svg.css" />
    <link rel="stylesheet" href="~/lib/argon_dashboard_master/assets/css/nucleo-icons.css" />

    <link id="pagestyle" href="~/lib/argon_dashboard_master/assets/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
    <link href="~/lib/argon_dashboard_master/assets/img/apple-icon.png" />


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

    <!--Chart Js-->
    <script src="~/lib/chart.min.js"></script>

    <!--css tự code-->
    <link href="~/css/admin/style.min.css" rel="stylesheet" />

</head>
<body class="g-sidenav-show  bg-gray-100">
    <div id="preloader">
        <div id="preloader-inner"></div>
    </div>
    <div class="min-height-300 bg-primary position-absolute w-100"></div>

    @await Html.PartialAsync("_Sitebar")
    <main class="main-content position-relative border-radius-lg ">
        @await Html.PartialAsync("_Navbar")
        @RenderBody()
    </main>



    <!-- Github buttons -->
    <script src="~/lib/github_buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/js/admin/site.js"></script>
</body>
</html>
